<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Leaftaps UI Automation">
    <parameter name="url" value="http://leaftaps.com/opentaps/"/>
    <parameter name="browser" value="chrome"/>
    <test verbose="5" preserve-order="true" name="Leads - Test 2">
        <classes>
            <class name="com.leaftaps.ui.tests.CreateLeadTest"/>
        </classes>
    </test>
</suite>